.home-medium-banners {
    margin: 40px 10.5rem;
}
.home-medium-banners .placeholder-wave .placeholder {
    min-height: 125px;
    width: 100%;
}
.home-large-banners .placeholder-wave .placeholder {
    min-height: 400px;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .home-medium-banners {
        margin: 1rem 6px !important;
    }
    .home-medium-banners .placeholder-wave .placeholder {
        min-height: 65px !important;
    }
    .home-large-banners .placeholder-wave .placeholder {
        min-height: 155px !important;
    }
}
