/******* mobile header ********/
@media (display-mode: standalone) {
    .mobile-navbar {
        align-items: self-end !important;
        padding: 4px 10px !important;
    }
}
header {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    z-index: 999;
    height: calc(45px + env(safe-area-inset-top));
}

.mobile-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc75;
    color: #1a1a1a !important;
    background-color: $bg-primary;
    font-size: 16px;
    padding: 0px 10px;
    height: 100%;
    width: 100%;
}

.hidden {
    visibility: hidden;
}

.mobile-navbar .nav-back-button,
.page-title {
    font-size: 22px !important;
    color: black !important;
}
.nav-back-button i {
    color: #000000 !important;
    font-size: 24px !important;
}
.nav-back-button i::before {
    font-weight: 700 !important;
}
.page-title {
    font-weight: 600 !important;
    text-align: center !important;
    text-transform: uppercase;
    position: absolute;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.nav-search-bar {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 35px;
    font-size: 15px;
    border-radius: 20px;
    background-color: #f9f9f9;
    transition: all 0.5s;
    width: 87%;
    border: 1px solid rgb(204 204 204 / 24%) !important;
}

.nav-search-bar input {
    width: 100%;
    margin: 0 7px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #555555;
}
