/******** footer *************/

.desktop-footer {
    background-color: $bg-primary;
    border-top: 1px solid #96969630;
    height: 65px;
    margin-top: auto;
    display: flex;
    align-items: center;
}
