.mobile-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 10px;
    border-radius: 3px;
    background-color: #ffffff !important;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    width: 100%;
}
