.base-slider {
    display: flex;
    overflow-x: auto;
    padding-bottom: 15px;
    scroll-behavior: smooth;
    cursor: grab;
}
.base-slider * {
    cursor: grab;
}
.base-slider::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    opacity: 0 !important;
}
