$bg-primary: #ffff;
$bg-secondary: #f9f9f9;
$text-primary-color: #222222;
$text-secondary-color: #939393;
$bg-green: #51c0a9;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none !important;
}

html,
body {
    overflow-x: hidden !important;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: $bg-primary;
}

@media screen and (max-width: 760px) {
    ::-webkit-scrollbar {
        display: none !important;
        width: 0 !important;
        opacity: 0 !important;
    }
}
#app {
    transition: scale 0.1s ease-in-out;
    border-radius: 5px !important;
}
.app-bg-secondary {
    background-color: $bg-secondary !important;
}
.app-bg-primary {
    background-color: $bg-primary !important;
}

@media screen and (display-mode: standalone) {
    section {
        padding-bottom: 80px !important;
        padding-top: 80px !important;
        min-height: calc(100vh - 73px) !important;
    }

    #toast-alert {
        top: 52px !important;
    }
}

main {
    display: flex;
    flex-direction: column;
    overflow-x: hidden !important;
}

section {
    padding-bottom: 65px;
    padding-top: 60px;
    min-height: calc(100vh - 70px);
    padding-bottom: calc(env(safe-area-inset-bottom) + 65px);
}
@media ((min-width: 768px)) and (max-width: 995px) {
    section.container {
        max-width: 920px !important;
    }
}
@media (min-width: 1000px) and (max-width: 1200px) {
    section.container {
        max-width: 1050px !important;
    }
}
@media only screen and (max-width: 767px) {
    section {
        padding-top: 45px;
        padding-bottom: 60px;
        min-height: calc(100vh - 45px);
    }

    section::-webkit-scrollbar,
    main::-webkit-scrollbar {
        display: none !important;
        width: 0 !important;
        opacity: 0 !important;
    }
}

input:focus,
.form-check-input,
button {
    outline: 0 !important;
    box-shadow: none !important;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background-color: $bg-green !important;
    border-color: $bg-green !important;
    outline: 0 !important;
}

.form-floating > label {
    font-size: 11px !important;
}

a {
    color: $bg-green;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.bi-trash3,
.bi-pencil-square,
.fa-arrow-left-long,
.bi-chevron-down {
    color: #000 !important;
}
.bg-primary {
    background-color: $bg-green !important;
}

.btn-primary {
    background-color: $bg-green !important;
    color: $bg-primary;
    border: none;
}

.text-primary,
.active {
    color: $bg-green !important;
}

.fw-600 {
    font-weight: 600;
}

.btn-sm,
.btn-group-sm > .btn {
    font-size: 12px !important;
}

.bg-alert-success {
    background-color: $bg-green !important;
    color: white;
}

.bg-alert-danger {
    background-color: #dc3545 !important;
    color: white;
}
.spinner .spinner-icon {
    height: 35px !important;
    width: 35px !important;
}

.page-404 {
    height: 100%;
    background-color: #fff;
}

.page-404 img {
    max-width: 300px;
}

.section-title {
    margin: 20px 10px;
}
.section-title span {
    color: #088178;
}
.swipe-modal-takumaru-vue-swipe-modal {
    z-index: 9654565655 !important;
}
@media only screen and (max-width: 760px) {
    .section-title {
        font-size: 14px !important;
    }
}
.placeholder {
    background-color: #d0d0d0 !important;
    border-radius: 10px !important;
}
button[type="submit"] span,
.spinner-border {
    transition: all 0.2s ease-in-out;
}
